DATABASE_URL=postgresql+asyncpg://postgres:4450@db:5432/savt
APP_ENV=dev

POSTGRES_USER=postgres
POSTGRES_PASSWORD=4450
POSTGRES_DB=savt

JWT_SECRET_KEY=megakrutoysecterkeyinjwtsecterkeygaygeyjopa228letscelebrateandsucksomedick
JWT_ACCESS_TOKEN_TTL_MINUTES=30
JWT_REFRESH_TOKEN_TTL_DAYS=60

SMS_CODE_TTL_MINUTES=10
SMS_CODE_MAX_ATTEMPTS=5
SMS_CODE_RESEND_COOLDOWN_SECONDS=60

SMS_BY_TOKEN=ad7eefd3b6f01059ec934f73337dc5ec
SMS_BY_ALPHANAME=
SMS_BY_BASE_URL=https://app.sms.by/api/v1
SMS_PROVIDER=mock